#tile {
    -fx-background-color: orange;
}

#tile:selected{
     -fx-border-color:yellow;
     -fx-border-width:2px;
}

#tile:highlight{
     -fx-border-color:cyan;
     -fx-border-width:2px;
}

#proximity {
    -fx-border-color: red;
}

#anchorpoint {
    -fx-fill: beige
}

#anchorpoint:hover {
    -fx-fill: pink
}
